<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_noodle"
        android:label="Mỳ Cay TiTP"
        android:roundIcon="@mipmap/logo_noodle_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".ThemBanAn"
            android:exported="false"
            android:theme="@style/PopUpActivity" />
        <activity
            android:name=".ThemNhanVien"
            android:exported="false" />
        <activity
            android:name=".GioHang"
            android:exported="false" />
        <activity
            android:name=".TrangChu"
            android:exported="false"
            android:label="@string/title_activity_trang_chu"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".DangKy"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Loai_MonAn"
            android:exported="false"
            android:label="@string/title_activity_loai_mon_an"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customButton_into_CTMonAn"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false"
            android:label="@string/title_activity_menu" />
        <activity
            android:name=".HoaDon"
            android:exported="false" />

        <activity
            android:name=".ThemMonAn"
            android:exported="false"/>

        <activity
            android:name=".ThemLoaiMonAn"
            android:theme="@style/PopUpActivity"
            android:label="LOẠI MÓN ĂN"
            />
        <activity
            android:name=".ThemLoaiMon_ActivityMonAn"
            android:theme="@style/PopUpActivity"
            android:label="LOẠI MÓN ĂN" />

    </application>

</manifest>